<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Node Site</title>

  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>

  <header>
    <nav class="navbar navbar-inverse">
      <a class="navbar-brand" href="/">Node Site</a>
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </header>

  <section class="hero">
    <div class="hero-content">
      <h2>Welcome to the Site!</h2>
      <p>Watch out for the evergrowing awesomeness.</p>

      <button href="/" class="btn btn-lg btn-primary">Get Started</button>
      <button href="/contact" class="btn btn-lg btn-primary">Contact</button>
    </div>
  </section>

  <main>
    <div class="container">
      <div class="jumbotron text-center">
        Home Page
      </div>
    </div>
  </main>

  <footer>
    Fuwasoft Site. CopyRight &copy; 2016 
  </footer>

</body>
</html>