
  <%- contentFor('hero') %>
    <section class="hero">
      <div class="hero-content">
        <h2>Welcome to the Site!</h2>
        <p>Watch out for the evergrowing awesomeness.</p>

        <button href="/" class="btn btn-lg btn-primary">Get Started</button>
        <button href="/contact" class="btn btn-lg btn-primary">Contact</button>
      </div>
    </section>

<%- contentFor('body') %>
  <div class="jumbotron text-center">
    Home Page
  </div>